*.log
pnpm-debug.log*

web/node_modules
web/dist
web/web

.DS_Store
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.idea
.vscode

NanoKVM-Server

support/sg2002/kvm_system/build
support/sg2002/kvm_system/dist
support/sg2002/kvm_system/CMakeLists.txt

support/sg2002/kvm_vision_test/build
support/sg2002/kvm_vision_test/dist
support/sg2002/kvm_vision_test/CMakeLists.txt

support/sg2002/additional/original
kvmapp/server/dl_lib
kvmapp/kvm_system/kvm_system
