*.log
pnpm-debug.log*

web/node_modules
web/dist
web/web

.DS_Store
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.idea
.vscode

NanoKVM-Server

support/sg2002/kvm_system/build
support/sg2002/kvm_system/dist
support/sg2002/kvm_system/CMakeLists.txt

